
<div class="span3">
  <div class="left-nav" data-spy="affix" data-offset-top="240">
    <div class="well" style="padding: 8px 0">
      <ul class="nav nav-list">
        <li class="nav-header">Goal model</li>
        <li><a href="@Url.Action("GoalModel")#goals">Goals()</a></li>
        <li><a href="@Url.Action("GoalModel")#antigoals">Anti-goals</a></li>
        <li><a href="@Url.Action("GoalModel")#obstacles">Obstacles</a></li>
        <li><a href="@Url.Action("GoalModel")#domprop">Domain properties</a></li>
        <li><a href="@Url.Action("GoalModel")#domhyp">Domain hypothesis</a></li>
          
        <li class="nav-header">Agent model</li>
        <li><a href="@Url.Action("AgentModel")#agents">Agents</a></li>
          
        <li class="nav-header">Object model</li>
        <li><a href="@Url.Action("ObjectModel")#entities">Entities</a></li>
        <li><a href="@Url.Action("ObjectModel")#associations">Associations</a></li>
        <li><a href="@Url.Action("ObjectModel")#types">Given types</a></li>
        <li><a href="@Url.Action("ObjectModel")#predicates">Predicates</a></li>
      </ul>
    </div>
  </div>
</div>
